@model List<Lab_5.ResponseModels.ModelResponse>

@{
	ViewData["Title"] = "Models";
}

<h2>Models - Список</h2>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Daily Hire Rate</th>
			<th>Vehicle Count</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td><a class="nav-link text-dark" asp-area="" asp-controller="Db" asp-action="GetModel" asp-route-code="@item.Code">@item.Code</a></td>
				<td><a class="nav-link text-dark" asp-area="" asp-controller="Db" asp-action="GetModel" asp-route-code="@item.Code">@item.Name</a></td>
				<td><a class="nav-link text-dark" asp-area="" asp-controller="Db" asp-action="GetModel" asp-route-code="@item.Code">@item.DailyHireRate</a></td>
				<td><a class="nav-link text-dark" asp-area="" asp-controller="Db" asp-action="GetModel" asp-route-code="@item.Code">@item.VehicleCount</a></td>
			</tr>
		}
	</tbody>
</table>
