@model Lab_5.DTO.ModelDetailedDTO

@{
    ViewData["Title"] = "Model";
}

<h2>Model</h2>

@if (Model == null)
{
    <p>Такого елемента не існує</p>
}
else
{
    <ul>
        <li class="list-group-item"><strong>Code:</strong> @Model.Code</li>
        <li class="list-group-item"><strong>Name:</strong> @Model.Name</li>
        <li class="list-group-item"><strong>Daily Hire Rate:</strong> @Model.DailyHireRate</li>
        <li class="list-group-item">
            <h3>Vehicles:</h3>
            <div class="row">
                @foreach (var vehicle in Model.Vehicles)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">RegNumber: @vehicle.RegNumber</h5>
                                <ul class="list-unstyled">
                                    <li class="list-group-item"><strong>Current Mileage:</strong> @vehicle.CurrentMileage</li>
                                    <li class="list-group-item"><strong>Daily Hire Rate:</strong> @vehicle.DailyHireRate</li>
                                    <li class="list-group-item"><strong>Date Mot Due:</strong> @vehicle.DateMotDue</li>
                                    <li class="list-group-item"><strong>Manufacturer:</strong> @vehicle.ManufacturerCode</li>
                                    <li class="list-group-item"><strong>Model:</strong> @vehicle.ModelCode</li>
                                    <li class="list-group-item"><strong>Vehicle Category:</strong> @vehicle.VehicleCategoryCode</li>
                                    <li class="list-group-item"><strong>Booking Count:</strong> @vehicle.BookingCount</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </li>
    </ul>
}
